/* Universal */
header[role="banner"] {background-color: white;}
html {font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}

/* Drawer */
 #odooAppDrawer {border-radius: 0px; background-color: white;  border: none; z-index: 1; left: 0; box-shadow: 2px 1px 3px 1px #ebecf0;}
 #appDrawerApps {margin: auto !important; height: 100%;}
 #appDrawerApps > div {width: 100%; height: 50px; padding: 0px; margin-top: 10px !important; float: none;}
 #appDrawerApps > div:hover {background-color: whitesmoke; border-radius: 5px 0px 0px 5px;}
 #appDrawerApps > div > a {display: -webkit-box; text-align: justify; color: white !important; outline: none; width: 100%; height: 100%;}
 #appDrawerApps > div.active {border-left: #1f7be2 solid 3px; background-color: #1f7be20f;}
 #appDrawerApps div.active .app-drawer-title {color:#1f7be2 !important;}
 #appDrawerApps > div.active:hover {background-color: whitesmoke; border-radius: 0px;}
 #appDrawerApps div:hover .app-drawer-icon-app, #appDrawerApps div:hover .app-drawer-title {transform: scale(1.1);}
 #appDrawerAppPanelHead {position: unset !important; height: 46px !important; padding: 0px; margin: 20px auto 10px auto; background-color: white; border: none;}
 #appDrawerAppPanelHead a.oe_logo {display: block; margin: auto; float: none !important; height: 100%;}
 #appDrawerAppPanelBody {padding-right: 0px; padding-top: 0px; height: 100%;}
 #appDrawerAppMenu {height: 100%;}
 .app-drawer-icon-open {color: #078ec8; display: none;}
 .app-drawer-icon-open:hover {background-color: whitesmoke;}
 .app-drawer-panel-title {display: none;}
 .app-drawer-icon-app {height: 30px !important; width: 30px !important; display: block; margin: auto 10% auto 10px; transition: margin 1s;}
 .app-drawer-title {margin:auto 0px auto 0px; display: block; color: #818f92;}
 .oe_logo > img {display: block; margin: auto; height: 30px !important; background-color: white;}
 .o_tooltip {display: none !important;}

 /* Drawer State Long */
 .drawer-long nav#odooAppDrawer {width: 200px !important; transition: width 1s;}
 .drawer-long nav.main-nav, .drawer-long div.o_main {margin-left: 200px; transition: margin 1s;}
 .drawer-long #logo-short {display: none;}

 /* Drawer State Short */
 .drawer-short nav#odooAppDrawer {width: 70px !important; transition: width 1s;}
 .drawer-short nav.main-nav, .drawer-short div.o_main {margin-left: 70px; transition: margin 1s;}
 .drawer-short p.app-drawer-title {opacity: 0; transition: opacity 1s;}
 .drawer-short #logo-long {display: none;}

 /* Navbar */
 .oe_secondary_menu .active > a > span { color: #1f7be2 !important;} */
 .app-name {display: none !important;}
 .main-nav {padding: 0px 20px; position: unset; background-color: white;}
 .oe_secondary_menu > li > a {color: navy !important;}
 .oe_secondary_menu > li.active > a {border-bottom: solid 2px navy; background-color: #0000800f !important;}
 .oe_secondary_menu > li.open > a, .active-open > a {background-color: whitesmoke !important;}
 .oe_secondary_menu > li > a:hover {background-color: whitesmoke !important; color: navy !important;}
 .oe_secondary_menu > li > a > span {color: navy;}
 .oe_secondary_submenu {display: none; position: unset; width: 100%; float: none !important; padding-left: 35px;}
 .oe_secondary_submenu > li > a {}
 .oe_secondary_submenu span {color: navy;}
 .drawer-short .oe_secondary_submenu {margin-left: 70px; transition: margin 1s;}
 .drawer-long .oe_secondary_submenu {margin-left: 200px; transition: margin 1s;}


 /* Dashboard */
 .oe_action, .o_web_settings_dashboard_apps {border-radius: 3px;}
 h2.oe_header {padding: 3% 5% 2% 3% !important;}
 .oe_dashboard_column > div.oe_action {border-color: black !important;}
 .oe_dashboard_links {display: none;}
 table.oe_dashboard_layout_1-1-1 {width: 0px !important;}
 .o_content > div > div > div {background-color: #f5f8fd !important;}
 
 /* Other Apps */
 /* .o_control_panel, .breadcrumb {background-color: white !important;}
 div.settings_tab {background-color: white !important;}
 div.settings_tab > div.tab > span.app_name {color: #00438b;}
 div.settings_tab > div.selected {background-color: #00438b !important; box-shadow: none!important;}
 div.settings_tab > div.selected > span.app_name {color: white !important;}
 div.settings {background-color: whitesmoke !important;}
 div.settings > div.app_settings_block > h2, div.settings > div.app_settings_block > * > h2  {background-color: whitesmoke !important;}
 div.settings > div.app_settings_block > div.o_settings_container, div.settings > div.app_settings_block > * > div.o_settings_container {margin-left: 5px;} */
 
 /* Graph */
 g.nv-multiBarWithLegend {transform: translate(115px, 50px) scale(0.95);}
 g.nvd3-svg > g.nv-axis > g > g.tick > line[x2="0"] {display: none;}
 
 /* Favourite Item at Dashboard */
 [data-id=action_0_0] {width: 450px; display: block;}
 [data-id=action_0_0] > div.oe_content > div.o_graph > div.o_graph_svg_container > svg.nvd3-svg > g.nvd3 > g >g.nv-legendWrap > g.nv-legend > g > g.nv-series > text.nv-legend-text {font-size:  12px !important;}
 [data-id=action_0_0] > div.oe_content > div.o_graph {height: 910px !important;}
 [data-id=action_0_0] > div.oe_content > div.o_graph > div.o_graph_svg_container > svg.nvd3-svg > g.nv-wrap > g > g.nv-legendWrap > g.nv-legend > g > g.nv-series > text.nv-legend-text {font-size: 10px !important;}
 [data-id=action_0_0] > div.oe_content > div.o_graph > div.o_graph_svg_container > svg.nvd3-svg > g.nv-wrap > g > g.nv-legendWrap > g.nv-legend > g {display: contents;}
 [data-id=action_0_0] > div.oe_content > div.o_graph > div.o_graph_svg_container > svg.nvd3-svg > g.nv-wrap > g > g.nv-pieWrap > g.nvd3 {transform: translate(-40px,-400px) scale(1.5);}
 [data-id=action_0_0] > div.oe_content > div.o_graph > div.o_graph_svg_container > svg.nvd3-svg > g.nv-wrap > g > g.nv-legendWrap {transform: translateX(250px);}
 [data-id=action_0_0] > div.oe_content > div.o_graph > div.o_graph_svg_container > svg.nvd3-svg > g.nv-wrap > g > g.nv-pieWrap > g.nv-pie > g > g.nv-pieLabels > g.nv-label > text {font-size: 8px;} 
 [data-id=action_1_0] > div.oe_content > div.o_graph > div.o_graph_svg_container > svg.nvd3-svg > g.nv-multiBarWithLegend > g > g.nv-barsWrap > g.nv-multibar > g > g.nv-groups > g.nv-series-0 > rect.nv-bar, [data-id=action_1_0] > div.oe_content > div.o_graph > div.o_graph_svg_container > svg.nvd3-svg > g.nv-multiBarWithLegend > g > g.nv-legendWrap > g.nv-legend > g > g.nv-series > circle {fill: limegreen !important; stroke: limegreen !important;}
 [data-id=action_1_0] {width: 700px; display: block;}
 [data-id=action_1_0] > div.oe_content > div.o_graph {height: 420px !important;}
 [data-id=action_1_1] {width: 800px; display: block;}
 [data-id=action_1_1] > div.oe_content > div.o_graph {height: 400px !important;}
 [data-id=action_1_1] > div.oe_content > div.o_graph > div.o_graph_svg_container > svg.nvd3-svg > g.nvd3 > g > g.nv-barsWrap > g.nv-wrap > g > g.nv-groups > g.nv-series-1 > rect, [data-id=action_1_1] > div.oe_content > div.o_graph > div.o_graph_svg_container > svg.nvd3-svg > g.nv-multiBarWithLegend > g > g.nv-legendWrap > g.nv-legend > g > g.nv-series > circle[style="stroke-width: 2px; fill: rgb(174, 199, 232); fill-opacity: 1; stroke: rgb(174, 199, 232);"], [data-id=action_1_1] > div.oe_content > div.o_graph > div.o_graph_svg_container > svg.nvd3-svg > g.nvd3 > g > g.nv-barsWrap > g.nv-wrap > g > g.nv-groups > g.nv-series-0[style="stroke-opacity: 1; fill-opacity: 0.75; fill: rgb(174, 199, 232); stroke: rgb(174, 199, 232);"] > rect {fill: orange !important; stroke: orange !important;}