 /* Drawer */
 #odooAppDrawer {border-radius: 0px 10px 10px 0px; background-color: #078ec8;  border: none; z-index: 1; left: 0; box-shadow: none;}
 #appDrawerApps{margin: auto !important;}
 #appDrawerApps > div {width: 100%; height: 40px; padding: 0px; margin-top: 10px !important;}
 #appDrawerApps > div > a {display: -webkit-box; text-align: justify; color: white !important; outline: none; width: 100%; height: 100%;}
 #appDrawerApps > div.active {background-color: white; border-radius: 10px 0px 0px 10px;}
 #appDrawerApps > div.active > a {color: #078ec8 !important;}
 #appDrawerApps .app-drawer-icon-app:hover, #appDrawerApps .app-drawer-title:hover {transform: scale(1.1);}
 #appDrawerAppPanelHead {display: contents;}
 #appDrawerAppPanelHead > div > a.oe_logo > img {transform: scale(0.6); margin-top: 10px; margin-bottom: 10px;}
 #appDrawerAppPanelHead > div {display: grid; text-align: center; width: 100%; align-content: center;}
 #appDrawerAppPanelBody {padding-right: 0px;}
 .app-drawer-icon-open {color: #078ec8; content: "\f00b" !important;}
 .app-drawer-icon-open:hover {background-color: whitesmoke;}
 .app-drawer-panel-title {display: none;}
 .app-drawer-icon-app {height: 30px !important; width: 30px !important; display: block; margin: auto 10% auto 10px; transition: margin 1s;}
 .app-drawer-title {margin:auto; display: block;}

 /* Drawer State Long */
 .drawer-long nav#odooAppDrawer {width: 200px !important; transition: width 1s;}
 .drawer-long nav.main-nav, .drawer-long div.o_main {margin-left: 200px; transition: margin 1s;}

 /* Drawer State Short */
 .drawer-short nav#odooAppDrawer {width: 70px !important; transition: width 1s;}
 .drawer-short nav.main-nav, .drawer-short div.o_main {margin-left: 70px; transition: margin 1s;}
 .drawer-short p.app-drawer-title {opacity: 0; transition: opacity 1s;}

 /* Navbar Dashboard */
 nav.main-nav {background-color: white !important;}
 li.app-name {font-weight: bold; display:none !important;}
 li.app-name > span.oe_menu_text {text-transform: uppercase;}
 .o_user_menu > a {color: white !important;}
 .navbar-nav > li > a {color: #078ec8 !important; background-color: white;}
 .navbar-nav > li > a.dropdown-toggle:hover, .navbar-nav > li > a.oe_menu_leaf:hover, .navbar-systray-item > li > a:hover, .navbar-systray-item > li.open > a.dropdown-toggle, .o_mail_navbar_item > a.dropdown-toggle:hover, .navbar-nav > li.open > a, ul.oe_secondary_menu > li.active > a:hover {background-color: whitesmoke !important; color: #078ec8 !important;}
 .navbar-nav > .open > a, .navbar-nav > .open > a:focus {color: #345577;}
 .navbar-nav > li.active > a.oe_menu_leaf, .navbar-nav > li.active > a.dropdown-toggle:focus {background-color: transparent !important;}
 .navbar-default {border: none !important;}

 /* Main Dashboard */
 .oe_action, .o_web_settings_dashboard_apps {border-radius: 3%;}
 h2.oe_header {padding: 3% 5% 2% 3% !important;}
 .oe_dashboard_column > div.oe_action {border-color: black !important;}
 .oe_dashboard_links {display: none;}
 ul.oe_secondary_menu > li > a {color: #078ec8 !important;}
 table.oe_dashboard_layout_1-1-1 {width: 0px !important;}
 
 /* Other Apps */
 .o_control_panel, .breadcrumb {background-color: white !important;}
 div.settings_tab {background-color: white !important;}
 div.settings_tab > div.tab > span.app_name {color: #00438b;}
 div.settings_tab > div.selected {background-color: #00438b !important; box-shadow: none!important;}
 div.settings_tab > div.selected > span.app_name {color: white !important;}
 div.settings {background-color: whitesmoke !important;}
 div.settings > div.app_settings_block > h2, div.settings > div.app_settings_block > * > h2  {background-color: whitesmoke !important;}
 div.settings > div.app_settings_block > div.o_settings_container, div.settings > div.app_settings_block > * > div.o_settings_container {margin-left: 5px;}
 
 /* Graph */
 g.nv-multiBarWithLegend {transform: translate(115px, 50px) scale(0.95);}
 g.nvd3-svg > g.nv-axis > g > g.tick > line[x2="0"] {display: none;}
 
 /* Favourite Item at Dashboard */
 [data-id=action_0_0] {width: 450px; display: block;}
 [data-id=action_0_0] > div.oe_content > div.o_graph > div.o_graph_svg_container > svg.nvd3-svg > g.nvd3 > g >g.nv-legendWrap > g.nv-legend > g > g.nv-series > text.nv-legend-text {font-size:  12px !important;}
 [data-id=action_0_0] > div.oe_content > div.o_graph {height: 910px !important;}
 [data-id=action_0_0] > div.oe_content > div.o_graph > div.o_graph_svg_container > svg.nvd3-svg > g.nv-wrap > g > g.nv-legendWrap > g.nv-legend > g > g.nv-series > text.nv-legend-text {font-size: 10px !important;}
 [data-id=action_0_0] > div.oe_content > div.o_graph > div.o_graph_svg_container > svg.nvd3-svg > g.nv-wrap > g > g.nv-legendWrap > g.nv-legend > g {display: contents;}
 [data-id=action_0_0] > div.oe_content > div.o_graph > div.o_graph_svg_container > svg.nvd3-svg > g.nv-wrap > g > g.nv-pieWrap > g.nvd3 {transform: translate(-40px,-400px) scale(1.5);}
 [data-id=action_0_0] > div.oe_content > div.o_graph > div.o_graph_svg_container > svg.nvd3-svg > g.nv-wrap > g > g.nv-legendWrap {transform: translateX(250px);}
 [data-id=action_0_0] > div.oe_content > div.o_graph > div.o_graph_svg_container > svg.nvd3-svg > g.nv-wrap > g > g.nv-pieWrap > g.nv-pie > g > g.nv-pieLabels > g.nv-label > text {font-size: 8px;} 
 [data-id=action_1_0] > div.oe_content > div.o_graph > div.o_graph_svg_container > svg.nvd3-svg > g.nv-multiBarWithLegend > g > g.nv-barsWrap > g.nv-multibar > g > g.nv-groups > g.nv-series-0 > rect.nv-bar, [data-id=action_1_0] > div.oe_content > div.o_graph > div.o_graph_svg_container > svg.nvd3-svg > g.nv-multiBarWithLegend > g > g.nv-legendWrap > g.nv-legend > g > g.nv-series > circle {fill: limegreen !important; stroke: limegreen !important;}
 [data-id=action_1_0] {width: 700px; display: block;}
 [data-id=action_1_0] > div.oe_content > div.o_graph {height: 420px !important;}
 [data-id=action_1_1] {width: 800px; display: block;}
 [data-id=action_1_1] > div.oe_content > div.o_graph {height: 400px !important;}
 [data-id=action_1_1] > div.oe_content > div.o_graph > div.o_graph_svg_container > svg.nvd3-svg > g.nvd3 > g > g.nv-barsWrap > g.nv-wrap > g > g.nv-groups > g.nv-series-1 > rect, [data-id=action_1_1] > div.oe_content > div.o_graph > div.o_graph_svg_container > svg.nvd3-svg > g.nv-multiBarWithLegend > g > g.nv-legendWrap > g.nv-legend > g > g.nv-series > circle[style="stroke-width: 2px; fill: rgb(174, 199, 232); fill-opacity: 1; stroke: rgb(174, 199, 232);"], [data-id=action_1_1] > div.oe_content > div.o_graph > div.o_graph_svg_container > svg.nvd3-svg > g.nvd3 > g > g.nv-barsWrap > g.nv-wrap > g > g.nv-groups > g.nv-series-0[style="stroke-opacity: 1; fill-opacity: 0.75; fill: rgb(174, 199, 232); stroke: rgb(174, 199, 232);"] > rect {fill: orange !important; stroke: orange !important;}

 /* Universal */
 header[role="banner"] {background-color: white;}