div.body_login > div#background-wrapper {background-image: linear-gradient(to right, blue,teal) !important;}
div.body_login>.o_database_list {width: 25%;padding-left: 3%;padding-top: 0%;padding-bottom: 3%;padding-right:3%;}
div.body_login>.o_database_list>.text-center>.company_logo{padding-bottom: 10%;}
#login{background-color:#e3e3e3 !important;width: 100%;height: 45px;border-radius: 22px;}
#password{background-color:#e3e3e3 !important;width: 100%;height: 45px;border-radius: 22px;}
div.body_login>.o_database_list>.oe_login_form>.oe_login_buttons>.btn-primary{width: 100%;border-radius: 22px;height: 40px; background-image: linear-gradient(to right,
blue, teal)}
/*.col-lg-3.col-md-4.col-sm-4.col-xs-11.o_database_list {width:100px;height: 450px;border-radius:30px;
}*/
body .body_login {background-image: url('/ce-17-theme-odoo-11/static/src/img/bg_login.png');background-size: cover;}